.navigator-wrap{
    display: flex;
}

.navigator-button {
    margin: 0 2vw;
    background-color: #007bff;
    height: 1.5vw;
    width: 7vw;
    border-radius: 10px;
    border: none;
    color: white;
    transition: 1.2s;
}

.navigator-button:hover{
    background-color: white;
    color: black;
    border-radius: 0;
    transition: 1s;
    border: 1px solid;
}

.icon{
    color: #007bff;
    padding:  0 5vw;
}
